body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  
  text-align: center;
}
#featured-property {
  
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
#featured-property > p {
    width: 800px;
    text-align: center;
  }
figcaption {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 16px;
  
}
nav {
  
  padding-left: 10px;
  padding-right: 10px;
  color: lime;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#details {
  display: block;
  
}
#details ~ div {
  float: left;
}





